{% extends 'common/base.html' %}

{% block content %}
    <h1 class="text-center">포스트 추가</h1>

    <div class="upload-forms">
        <form method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-primary btn-block">업로드</button>
        </form>
    </div>

    <p><a href="{% url 'post_list' %}">홈으로 돌아가기</a></p>
{% endblock %}

<div class="form-group">
	<label for="id-photo">사진 첨부</label>
	<input type="file"
	       id="id-photo"
	       name="photo"
	       class="form-control-file">
</div>