{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div>
    <h1 class="text-center">포스트 리스트</h1>
    {% for post in posts %}
        <!--이 div가 lg(width >= 992px)일 때, 4/12의 크기를 가지며 4/12 위치를 기준으로 시작함-->
        <div id="post-{{ post.pk }}" class="col col-lg-4 offset-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <span>
                        <a href="#">
                            <!-- 프로필 이미지가 없으면 출력이 안 된다! -->
                            <!-- 그래서 기본 출력값으로 빈 파일을 넣는 것!-->
                            <img src="{{ post.author.img_profile_url }}"
                                 style="width: 30px; height: 30px; border-radius: 100%">
                        </a>
                    </span>
                    <span>{{ post.author }}</span>
                </div>
                <div class="card-body">
                    <img src="{{ post.photo.url }}" class="card-img-top">

                    {% if user.is_authenticated %}
                    <form action="{% url 'posts:post_like_toggle' post_pk=post.pk %}"
                          method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary"
                                type="submit">
                            {% if user in post.like_users.all %}
                                좋아요 해제
                            {% else %}
                                좋아요
                            {% endif %}
                        </button>
                    </form>
                    {% endif %}

                    <div>
                        <span>좋아하는 사람 </span>
                        <strong>{{ post.like_users.all|join:", " }}</strong>
                    </div>


                    <ul class="list-unstyled">
                        {% for comment in post.comments.all %}
                            <li>
                                <strong>{{ comment.author }}</strong>
                                <span>{{ comment.html|safe }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- 댓글달기 영역 -->
                    <!--
                        1. 유저가 로그인 한 경우에만 보여지도록 함
                        2. 내부 요소는 textarea[name=content]와 버튼하나
                        3. action속성의 값을 위의 'comment_create' view에 해당하는 URL로 지정
                    -->
                    {% if user.is_authenticated %}
                    <form action="{% url 'posts:comment_create' post_pk=post.pk %}"
                          method="POST">
                        {% csrf_token %}
                        {{ comment_form.contents }}
                        <button class="btn btn-primary btn-block" type="submit">작성하기</button>
                    </form>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
