{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>짭스타그램</title>
    <!-- 브라우저별 기본 CSS 값 세팅-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <style>
        .square {

        }
        .square:before {
            content: '';
            padding: 50% 0;
            display: inline-block;
        }
        .square > .thumbnail {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
	</style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-sm bg-light">
            <a href="{% url 'posts:post_list' %}" class="navbar-brand">짭스타그램</a>
            <form action="#" class="form-inline ml-md-auto">
                <input type="text" class="form-control" placeholder="검색">
            </form>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a href="#" class="btn btn-outline-secondary">
                        {% if user.is_authenticated %}
                            {{ user.username }}의 프로필
                        {% else %}
                            로그인 해주세요!
                        {% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'posts:post_create' %}" class="btn btn-outline-secondary">포스트하기</a></li>
                <form action="{% url 'members:logout_view' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-outline-secondary">로그아웃</button>
                </form>
                {% else %}
                <li class="nav-item"><a href="{% url 'members:login_view' %}" class="btn btn-outline-secondary">로그인</a></li>
                <li class="nav-item"><a href="{% url 'members:register_view' %}" class="btn btn-outline-secondary">회원가입</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block script %}
        <script>
            var a = 3;
        </script>
        <script src=""></script>
    {% endblock %}
</body>
</html>